<ons-page ng-controller="indigentController" ng-init="loadAssigments()">
    <ons-toolbar>
        <!--<div class="left">
            <ons-back-button>Cancel</ons-back-button>
        </div>-->
        <div class="center">Assigments ({{assignmentList.length}})</div>
		<i class="fa fa-home" aria-hidden="true"></i>
        <div class="right"><ons-toolbar-button ng-click="logout()"><i class="fa fa-sign-in" aria-hidden="true"></i>logout</ons-toolbar-button></div>
    </ons-toolbar>

    <ons-list modifier="assignments">

        <ons-list-item class="list-location-container" ng-repeat="(_id, assignment) in assignmentList" id="{{ _id }}" ng-click="loadAssigmentDetails($index, assignment)">
            <ons-row>
                <ons-col>

                    <div class="name">
                        Application Reference No <span class="label label-default">
                        {{assignment.indigentApplicationDetails.indigentApplicationHeader.applicationRefNo}}
                        </span>
                    </div>

                    <div class="name">
                         First Names <span class="label label-default">
                        {{assignment.indigentApplicationDetails.householdDetail[0].personDetail.firstNames}}
                         </span>
                    </div>

                    <div class="name">
                        Application Date <span class="label label-default">
                        {{assignment.indigentApplicationDetails.indigentApplicationHeader.applicationDate  | date:'yyyy-MM-dd'}}
                        </span>
                    </div>
                    
                    
                    <div class="name">
                        Residential Address <span class="label label-default">
                        {{assignment.indigentApplicationDetails.originalApplicantDetail.residentialAddress.addressLine1}}
                        </span>
                    </div>
                    
                    <div class="name">
                        Suburb <span class="label label-default">
                        {{assignment.indigentApplicationDetails.originalApplicantDetail.residentialAddress.suburb}}
                         </span>
                    </div>

                    <div class="clearfix"></div>
                </ons-col>
            </ons-row>
            
            
             
            
            
            
            
           
            
            
            
            
            
            

        </ons-list-item>

    </ons-list>

	
    <ons-list-item ng-show="assignmentList.length == 0">
        <ons-row>
            No data available.
        </ons-row>
    </ons-list-item>


</ons-page>