<ons-page ng-controller="indigentController" ng-init="loadDeclinedReason()">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Cancel</ons-back-button>
        </div>
        <div class="center">Decline Declaration</div>
    </ons-toolbar>
	<div>
		<table>
			<tr>
				<td>
					<div><label for="repeatSelect"> Select Reason for Declining: </label></div>
				</td>
				<td>
					<select ng-model="reason">
						<option ng-repeat="reason in declineReasonList" value="{{reason.name}}" required>{{reason.name}}</option>
					</select>
				</td>
			</tr>
			<!--<tr>
				<td>
					<label> Details: </label>
				</td>
				<td>
					<textarea type="text" name="other" ng-model="reason" ccrequired></textarea>
				</td>
			</tr>-->
		</table>
	</div>

          <div class='button-bar'>
               <a class="btn-distance" ng-click='setApplicationDeclined()'><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</a>
          </div>
	
</ons-page>